@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../fonts/JosefinSans-Bold.eot');
    src: url('../fonts/JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('../fonts/JosefinSans-Bold.woff') format('woff'),
        url('../fonts/JosefinSans-Bold.ttf') format('truetype'),
        url('../fonts/JosefinSans-Bold.svg#JosefinSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-ExtraLight.eot');
    src: url('../fonts/JosefinSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/JosefinSans-ExtraLight.woff') format('woff'),
        url('../fonts/JosefinSans-ExtraLight.ttf') format('truetype'),
        url('../fonts/JosefinSans-ExtraLight.svg#JosefinSans-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}








